/**
 * Haplogroup Story Viewer Stylesheet
 */

/* Ensure iframe element occupies whole viewport, even when window resized */
body { height: 100%; margin: 0; background-color: #464646; }
iframe { width: 100%; height: 100%; border-width: 0; }
